#centrar{
	/*margin: 0 auto;
	width: 1000px;*/
	border:6px solid #d45500;
	border-radius: 20px;
	padding: 15px
}

menu{
	float: left;
	width: 100%;
	margin-left: 0;
	padding: 0 0 0 0;
	/*position: absolute;*/
}

menu a{
	float: left;
	padding-right: 20px;
}

.titulo_tabla_clientes{
	font-size:30px;
	text-decoration:underline;
	/*float: left;*/
	
}
table .nombre{
	text-align:left; 
	width:30%;
	padding:1%;
	font-family: Play;
}

table .direccion{
	text-align:left; 
	width:40%;
	padding:1%;
	font-family: Play;
}

table .localidad{
	text-align:left; 
	width:10%;
	font-family: Play;
	padding:1%;
}

/*thead,tbody,tr, td,th{
	border: 1px solid #000000;	
}*/

table{
	border: 1px solid #000000;
	border-collapse: collapse;
}

table .ctrabajo, .cactivo, .ceditar,.cborrar{
	text-align:right; 
	width:5%;
}
table .trabajo, .activo, .editar,.borrar{
	text-align:right; 
	width:5%;
	padding: 1%
}

.verde{
	background-color: #9FF781!important;
}

.blanco{
	background-color: #FFFFFF!important;
}

.rojo{
	background-color:#FE2E2E!important;
}

.azul{
	background:#58FAD0!important;
}


.clear {
    clear: both;
} 

.etiquetas{
	width:20%;
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
}



.campos{
	width:70%!important;
	padding: 10px;
	margin-bottom: 15px;
}

fieldset{
	border: 1px solid #000000;
	padding: 10px;
}
#btnActualizar,#btnGuardarTrabajo{
	display: block;
	float: right;
	height: 50px;
}

input[type="checkbox"]{
	margin: 20px auto;
}

#tablaTrabajos{
	margin-top: 2.5%;
    width: 100%;
}


#trabajosClientes{
	width: 100%;
}


.ocultar{
	display: none;
}


.mostrar{
	display: block;
}

.id{
	display:none;
}

.cliente_encontrado{
	background-color: #58FA58;
	display: block;
}

.error_cliente{
	background-color: #FA5858;
	display: block;
}

#errores{
	width: 100%;
	height: 50px;
	font-size: 36em;
	text-align: center;
}
